@charset "UTF-8";

.table{
  border: solid 1px;
  width: 100px;
  height: 120px;
  float: left;
  margin: 10px;
  display:flex;
  flex-direction:column;
}

.id{
  margin: 5px;
  font-size: 30px;
}

.capacity{
  margin: 5px;
  font-size: 25px;
}

.corner{
  margin: 5px;
  font-size: 20px;
}

.available{
  background-color: green;
}

.not-available{
  background-color: red;
}

.home-layout{
  display: flex;
  flex-direction: row;
}

thead th{
  padding: 10px;
}

td:last-child,tfoot th:last-child {
  text-align: right;
}

td:last-child::before,tfoot th:last-child::before {
  content:'$';
}
