@charset "UTF-8";

.card{
    float: left;
    margin: 10px;
    display:flex;
    flex-direction:column;
}

.table-status{
    padding: 5px 15px;
    color : white;
}

.available{
  background-color: #00897b;
}

.not-available{
  background-color: red;
}

.home-layout{
  display: flex;
  flex-direction: row;
}

td:last-child,tfoot th:last-child {
  text-align: right;
}

td:last-child::before,tfoot th:last-child::before {
  content:'$';
}
